.knowledge-item {
  text-align: center;
  list-style-type: none;
}

.knowledge-categoy {
  color: $color-gray-one;
  margin-top: 25px;
  display: inline-table;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
}
